<div class='fl pa4 w5 h5 white f1 fw6 tt'>
  <a class='link hover-{{color}} white' href='https://github.com/{{username}}'>
    <div
      class='hover-bg-white bg-animate bg-{{color}} w-100 h-100 pa3'
      style='word-wrap: break-word;'
    >
      /{{username}}
    </div>
  </a>
</div>
