<div class='tc bg-blue'>
  <h1 class="white f1 ttu mv0 pv4">hotload me</h1>
</div>
<div class='fl cf'>
  {{> user username='des-des' color='red'}}
  {{> user username='foundersandcoders' color='green'}}
</div>
